<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/slick/slick.css">
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/7792b9298f.js" crossorigin="anonymous"></script>

  <!-- Main Stylesheet -->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon/site.webmanifest">

  <!-- meta tags -->
  <meta name="og:title" content="Bits and chips" />
  <meta name="og:description" content=" Tania Allard's personal site" />
  <meta name="og:image"
    content="https://github.com/trallard/v2/blob/master/assets/images/logos/logo-inverse.png?raw=true" />
  <meta name="og:url" content="https://bitsandchips.me" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="Tania Allard logo" />

</head>
